/*
stylesheets/

--modules/
  --all.scss           #include to get all modules
  --ultility.scss      #module name

--partials/
  -- _base.scss        #imports for all mixins + global project variables
  -- _typography.scss  #typography
  -- _reset.scss       #reset
  -- _buttons.scss     #buttons

--vendor/
  -- _colorpicker.scss #color picker

--main.scss            #primary sass file
*/
/* Global Stylings */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  max-width: 100vw;
  height: auto;
  flex: 1; }

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase; }

h1 {
  font-size: 1.8em;
  color: #f45a40; }

h2 {
  font-size: 1.5em;
  color: #2a2d34; }

h4 {
  font-size: 1.1em;
  color: #363635; }

h5 {
  font-size: 1em;
  color: #ffffff;
  font-weight: 400; }

p {
  line-height: 1.5em; }

a:hover {
  color: #f45a40 !important; }

header {
  text-transform: uppercase; }

.row {
  z-index: 1;
  margin: 10px 0;
  border-bottom: 1px solid #2a2d34; }

.logo {
  height: 30px;
  margin: 20px 0;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center; }

.navbar {
  border: none;
  background: none; }
  .navbar .navbar-toggle {
    background-color: #f45a40;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    color: #ffffff; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #f45a40; }
  .navbar .navbar-nav {
    background-color: #ededed; }

.navbar-toggle {
  border-radius: 0; }

.searchbar {
  margin-left: 10px;
  border: none; }

.container-fluid {
  padding: 0; }

.nopadding {
  padding: 0 !important;
  margin-bottom: 30px; }

/* Footer */
.footer {
  margin-top: 30px; }

.news-letter {
  padding: 20px 0;
  background-color: #f45a40; }
  .news-letter div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .news-letter h2 {
    color: #ffffff; }
  .news-letter form {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .news-letter form input[type=text] {
      width: 70%;
      height: 40px;
      padding: 5px;
      border: none;
      outline: none; }
    .news-letter form input[type=submit] {
      width: 100px;
      height: 40px;
      background-color: #f56f58;
      color: #ffffff;
      border: none;
      outline: none; }
      .news-letter form input[type=submit]:hover {
        background-color: #db2a0d; }

.footer-links {
  background-color: #2a2d34;
  padding-top: 30px; }
  .footer-links h2 {
    color: #ffffff;
    margin: 20px 0; }
  .footer-links h5 {
    margin-top: 20px; }
  .footer-links ul {
    list-style: none;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px; }
    .footer-links ul li {
      margin-bottom: 10px; }

.socialmedia {
  color: #ffffff;
  width: 50%;
  display: flex;
  justify-content: space-between; }

/* Frontpage */
/* Landing section */
.frontpage-content {
  margin-top: 80px; }

.divider {
  position: relative;
  border-top: 8px solid #f45a40;
  height: 2px;
  z-index: 2; }
  .divider:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    border-top: 3px solid #f45a40;
    top: 4px;
    left: 0;
    padding: 0 50%; }

/* Category - Top sales section */
.category {
  width: 27vw; }
  .category h1 {
    margin: 25px 0; }
  .category p {
    width: 80%; }

.category-imgs {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 222px; }

.img1 {
  background-image: url("../images/topsales/shoes.jpg"); }

.img2 {
  background-image: url("../images/topsales/modern-clothes.jpg"); }

.img3 {
  background-image: url("../images/topsales/accessories.jpg"); }

.image-1 {
  padding-left: 0; }

.image-3 {
  padding-right: 0; }

.divide-text {
  display: flex;
  align-items: center;
  margin: 50px auto; }
  .divide-text hr {
    width: 200px; }
  .divide-text h2 {
    margin: 0; }

/* Products section */
.product {
  border: 1px solid #ededed; }

.rating {
  color: #f45a40;
  margin: 15px 0 0 5px; }

.product-img {
  width: 100%;
  height: 250px;
  background-image: url("../images/products/shoes/jordans/jordan-aj-left.png");
  background-size: contain;
  background-repeat: no-repeat; }

.product-des {
  width: 90%;
  margin: 0 auto; }

.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex-items p {
    margin-bottom: 0;
    color: #f45a40; }

.icons {
  display: flex;
  align-items: center; }

.fa-inverse {
  font-size: 10px;
  color: #808080; }
  .fa-inverse:hover {
    color: #f45a40; }

/* Contact page */
.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .contact-form h1 {
    margin: 50px 0 50px 0; }
  .contact-form div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .contact-form label {
    text-transform: uppercase;
    margin-bottom: 10px; }
  .contact-form input[type=text],
  .contact-form input[type=email] {
    width: 80%;
    height: 2em;
    margin-bottom: 20px;
    border: 1px solid #808080; }
  .contact-form textarea {
    width: 100%;
    resize: none;
    border: 1px solid #808080; }
  .contact-form button {
    width: 150px;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #f45a40; }
    .contact-form buttonhover {
      background-color: #db2a0d; }

@media (min-width: 768px) {
  /* Global */
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    margin-bottom: 0 !important; }
  .navbar-collapse {
    padding: 0 !important; }
  .navbar-nav {
    background-color: transparent !important; }
  .nav > li > a {
    padding: 25px 35px 10px 0 !important; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #f45a40; }
  .logo {
    background-position: left; }
  .form-control {
    padding: 0 5px !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important; }
    .form-control:focus {
      color: #f45a40;
      border: 1px solid #f45a40 !important; }
  /* Footer */
  .news-letter div {
    align-items: center;
    justify-content: space-between; }
  .news-letter form {
    width: auto; }
    .news-letter form input[type=text] {
      width: 245px;
      margin-right: 10px; }
  .footer-links h2 {
    color: #ffffff;
    margin: 20px 0; }
  .footer-links h5 {
    margin-top: 20px; }
  .socialmedia {
    color: #ffffff;
    width: 50%;
    display: flex;
    justify-content: space-between; }
  /* Frontpage */
  .topsale {
    display: flex !important;
    justify-content: space-between; }
  .flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .col-lg-3 {
    width: 23% !important; }
  /* Contact page */
  .contact-form h1 {
    margin: 50px 0 50px 0; }
  .contact-form div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .contact-form label {
    text-transform: uppercase;
    margin-bottom: 10px; }
  .contact-form input[type=text],
  .contact-form input[type=email] {
    width: 300px; }
  .contact-form textarea {
    width: 445px; }
  .contact-form button {
    width: 150px;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #f45a40; }
    .contact-form buttonhover {
      background-color: #db2a0d; } }

/* Reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "PT Sans", sans-serif !important;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, span {
  display: block; }

body {
  line-height: 1;
  color: #808080; }

a {
  color: inherit; }

/* Styles for all buttons */
button {
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #ffffff; }
  button:hover {
    cursor: pointer;
    background-color: #db2a0d; }
  button:focus {
    outline: none; }

/* Top section links and checkout button */
.info-btns {
  padding-right: 0; }

.info-btns button {
  margin-top: 10px;
  border: none;
  background: none;
  color: #808080; }
  .info-btns button:focus {
    outline: none; }
  .info-btns button:hover {
    color: #f45a40;
    cursor: pointer; }
  .info-btns button:last-child {
    height: 32px;
    margin-bottom: 10px;
    background-color: #ededed; }

/* Call to action buttons */
.slider-btn,
.buy-btn {
  background-color: #f45a40;
  color: #ffffff; }

.slider-btn {
  width: 145px;
  height: 40px; }

.buy-btn {
  width: 100%;
  height: 40px; }

@media (min-width: 768px) {
  .info-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
    height: 100%; }
  .info-btns button {
    margin-top: 0; }
    .info-btns button:last-child {
      margin-bottom: 0 !important; } }

/* Custom styling for slider */
.slider-textbox {
  display: none; }

.slider-heading {
  color: #ffffff;
  font-size: 5em; }

.carousel {
  display: none; }

.item,
.active {
  width: 100%;
  height: 100%; }

@media (min-width: 768px) {
  .carousel {
    display: block;
    height: 80vh;
    width: 100%;
    z-index: 0;
    position: relative;
    display: flex; }
  .slider-textbox {
    width: 800px;
    height: 350px;
    padding: 0 4.5vw;
    background-color: rgba(54, 54, 53, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    top: 20vh;
    position: absolute;
    z-index: 99;
    left: 0; }
  .item:nth-child(1) {
    background: url("../images/slider/slide-1.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; }
  .item:nth-child(2) {
    background: url("../images/slider/slide-2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; }
  .item:nth-child(3) {
    background: url("../images/slider/slide-3.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; } }
