/*
stylesheets/

--modules/
  --all.scss           #include to get all modules
  --ultility.scss      #module name

--partials/
  -- _base.scss        #imports for all mixins + global project variables
  -- _typography.scss  #typography
  -- _reset.scss       #reset

--vendor/
  -- _colorpicker.scss #color picker

--main.scss            #primary sass file
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("../public/assets/fonts/font-awesome/scss/font-awesome.scss");
a:hover {
  color: #f45a40; }

header {
  text-transform: uppercase; }

.top {
  width: 90vw;
  margin: 0 auto;
  color: #2a2d34; }

.flex-box {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a2d34; }

.logo {
  width: 30%;
  height: 30px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat; }

.info-btns button {
  border: none;
  background: none;
  margin-right: 20px;
  text-transform: inherit; }
  .info-btns button:focus {
    outline: none; }
  .info-btns button:hover {
    color: #f45a40;
    cursor: pointer; }
  .info-btns button:last-child {
    width: 220px;
    height: 32px;
    background-color: #ededed; }

nav {
  height: 50px;
  display: flex !important;
  justify-content: space-between;
  align-items: center; }

nav ul {
  width: 45%;
  position: relative;
  display: flex;
  justify-content: space-between; }

nav ul li {
  position: relative; }

nav ul ul {
  min-width: 150px;
  display: none;
  position: absolute;
  color: #ffffff;
  background-color: #2a2d34;
  top: 100%;
  left: 0;
  padding: 5px 16px; }

nav ul ul li {
  float: none;
  min-width: 150px; }

nav ul ul li a {
  line-height: 50px;
  padding: 12px 15px 10px 0;
  margin-left: 15px; }

ul li:hover > ul {
  display: block; }

.banner {
  width: 100%;
  height: 660px;
  background-image: url("../images/slider/slide-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.container {
  min-width: 90vw !important; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "PT Sans", sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  padding: 0; }
