// Font weights
$italic: italic;
$regular: 400;
$bold: 700;

// Base font
$base-font-family: 'PT Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 1em;
$base-font-line-height: 1.5em;

// Colors
$primary-color: #f45a40;
$dark-primary-color: darken($primary-color,15%);
$secondary-color: #2a2d34;
$bread-text-color: #808080;
$white: #ffffff;
$grey: #ededed;

/* Global Stylings */
// headings
// h2: 1.8em;
// h3: 1.5em;
// slider headling: 5em;
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  max-width: 100vw;
  height: auto;
  flex: 1;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
@mixin headline ($size, $color)
{
  font-size: $size;
  color: $color;
}
h1 {
  @include headline(1.8em, #f45a40);
}
h2 {
  @include headline(1.5em, #2a2d34);
}
h4 {
  @include headline(1.1em, #363635);
}
h5 {
  @include headline(1em, #ffffff);
  font-weight: $base-font-weight;
}
p {
  line-height: $base-font-line-height;
}
a:hover {
  color: $primary-color !important;
}
header {
  text-transform: uppercase;
}
.row {
  z-index: 1;
  margin: 10px 0;
  border-bottom: 1px solid $secondary-color;
}
.logo {
  height: 30px;
  margin: 20px 0;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  border: none;
  background: none;
  .navbar-toggle {
    background-color: $primary-color;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    color: $white;
    &:hover, &:focus {
      background-color: $primary-color;
    }
  }
  .navbar-nav {
    background-color: $grey;
  }
}
.navbar-toggle {
  border-radius: 0;
}
.searchbar {
  margin-left: 10px;
  border: none;
}
.container-fluid {
  padding: 0;
}
.nopadding {
  padding: 0 !important;
  margin-bottom: 30px;
}
/* Footer */
.footer {
  margin-top: 30px;
}
.news-letter {
  padding: 20px 0;
  background-color: $primary-color;
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  h2 {
    color: $white;
  }
  form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    input[type=text] {
      width: 70%;
      height: 40px;
      padding: 5px;
      border: none;
      outline: none;
    }
    input[type=submit] {
      width: 100px;
      height: 40px;
      background-color: lighten($primary-color, 5%);
      color: $white;
      border: none;
      outline: none;
      &:hover {
        background-color: $dark-primary-color;
      }
    }
  }
}
.footer-links {
  background-color: $secondary-color;
  padding-top: 30px;
  h2 {
    color: $white;
    margin: 20px 0;
  }
  h5 {
    margin-top: 20px;
  }
  ul {
    list-style: none;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    li {
      margin-bottom: 10px;
    }
  }
}
.socialmedia {
  color: $white;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* Frontpage */
/* Landing section */
.frontpage-content {
  margin-top: 80px;
}
.divider {
  position: relative;
  border-top: 8px solid #f45a40;
  height: 2px;
  z-index: 2;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    border-top: 3px solid #f45a40;
    top: 4px;
    left: 0;
    padding: 0 50%;
  }
}

/* Category - Top sales section */
.category {
  width: 27vw;
  h1 {
    margin: 25px 0;
  }
  p {
    width: 80%;
  }
}
.category-imgs {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 222px;
}
.img1 {
  background-image: url('../images/topsales/shoes.jpg');
}
.img2 {
  background-image: url('../images/topsales/modern-clothes.jpg');
}
.img3 {
  background-image: url('../images/topsales/accessories.jpg');
}
.image-1 {
  padding-left:0;
}
.image-3 {
  padding-right:0;
}
.divide-text {
  display: flex;
  align-items: center;
  margin: 50px auto;
  hr {
    width: 200px;
  }
  h2 {
    margin: 0;
  }
}
/* Products section */
.product {
  border: 1px solid $grey;
}
.rating {
  color: $primary-color;
  margin: 15px 0 0 5px;
}
.product-img {
  width: 100%;
  height: 250px;
  background-image: url('../images/products/shoes/jordans/jordan-aj-left.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.product-des {
  width: 90%;
  margin: 0 auto;
}
.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom: 0;
    color: $primary-color;
  }
}
.icons {
  display: flex;
  align-items: center;
}
.fa-inverse {
  font-size: 10px;
  color: $bread-text-color;
  &:hover {
    color: $primary-color;
  }
}

/* Contact page */
.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  h1 {
    margin: 50px 0 50px 0;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  label {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  input[type=text],
  input[type=email] {
    width: 80%;
    height: 2em;
    margin-bottom: 20px;
    border: 1px solid $bread-text-color;
  }
  textarea {
    width: 100%;
    resize: none;
    border: 1px solid $bread-text-color;
  }
  button {
    width: 150px;
    padding: 10px 0;
    margin-top: 20px;
    background-color: $primary-color;
    &hover {
      background-color: $dark-primary-color;
    }
  }
}

@media (min-width: 768px) {
  /* Global */
  .row {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    height: 11vh;
    margin-bottom: 0 !important;
  }
  .navbar-collapse {
    padding: 0 !important;
  }
  .navbar-nav {
    background-color: transparent !important;
  }
  .nav > li > a {
    padding: 25px 35px 10px 0 !important;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #f45a40;
  }
  .logo {
    background-position: left;
  }
  .form-control {
    padding: 0 5px!important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    &:focus {
      color: $primary-color;
      border: 1px solid $primary-color !important;
    }
  }
  /* Footer */
  .news-letter {
    div {
      align-items: center;
      justify-content: space-between;
    }
    form {
      width: auto;
      input[type=text] {
        width: 245px;
        margin-right: 10px;
      }
    }
  }
  .footer-links {
    h2 {
      color: $white;
      margin: 20px 0;
    }
    h5 {
      margin-top: 20px;
    }
  }
  .socialmedia {
    color: $white;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  /* Frontpage */
  .topsale {
    display: flex !important;
    justify-content: space-between;
  }
  .flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .col-lg-3 {
    width: 23% !important
  }
  /* Contact page */
  .contact-form {
    h1 {
      margin: 50px 0 50px 0;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    label {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    input[type=text],
    input[type=email] {
      width: 300px;
    }
    textarea {
      width: 445px;
    }
    button {
      width: 150px;
      padding: 10px 0;
      margin-top: 20px;
      background-color: $primary-color;
      &hover {
        background-color: $dark-primary-color;
      }
    }
  }
}
