/* Reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $base-font-family !important;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, span {
  display: block;
}

body {
  line-height: 1;
  color: $bread-text-color;
}
main {
  max-width: 100vw;
}
ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding: 0;
}
