/* Custom styling for slider */
.slider-textbox {
  display: none;
}
.slider-heading {
  color: $white;
  font-size: 5em;
}
.carousel {
  display: none;
}
.item,
.active {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .carousel {
    display: block;
    height: 80vh;
    width: 100%;
    z-index: 0;
    position: relative;
    display: flex;
  }
  .slider-textbox {
    width: 800px;
    height: 350px;
    padding: 0 4.5vw;
    background-color: rgba(54,54,53,0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $white;
    top: 20vh;
    position: absolute;
    z-index: 99;
    left: 0;
  }
  .item {
    &:nth-child(1) {
      background: url('../images/slider/slide-1.jpg') no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
    &:nth-child(2) {
      background: url('../images/slider/slide-2.jpg') no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
    &:nth-child(3) {
      background: url('../images/slider/slide-3.jpg') no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
  }
}
