/* Custom styling for slider */
.slider-textbox {
  width: 800px;
  height: 350px;
  padding: 0 4.5vw;
  background-color: rgba(54,54,53,0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white;
  top: 35vh;
  position: absolute;
  z-index: 99;
}
.slider-heading {
  color: $white;
  font-size: 5em;
}
.carousel {
  width: 100%;
  height: 84vh !important;
  z-index: 0;
  position: relative;
  display: flex;
}
.item,
.active {
  width: 100%;
  height: 100%;
}
.item {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  &:nth-child(1) {
    background: url('../images/slider/slide-1.svg') no-repeat;
  }
  &:nth-child(2) {
    background: url('../images/slider/slide-2.svg') no-repeat;
  }
  &:nth-child(3) {
    background: url('../images/slider/slide-3.svg') no-repeat;
  }
}
.carousel-indicators {
  top: 65vh;

  li {
    max-width: 15px;
    height: 15px;
    margin-right: 10px !important;
    border-radius: 50%;
  }
}
